{
    "cniVersion": "0.3.1",
    "name": "bridge",
    "type": "bridge",
    "bridge": "cnio0",
    "isGateway": true,
    "ipMasq": true,
    "ipam": {
        "type": "host-local",
        "ranges": [
          {% set hostname = inventory_hostname.split("-") %}
          [{"subnet": "10.200.{{hostname[1]|replace('.kubernetes','')}}.0/24"}]
        ],
        "routes": [{"dst": "0.0.0.0/0"}]
    }
}
