[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
User=leon
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname|replace('.kubernetes','') }} \
  --data-dir=/var/lib/etcd \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2380 \
  --listen-peer-urls https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2380 \
  --listen-client-urls https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for controller in groups['controller'] %}{{controller|replace(".kubernetes","")}}=https://{{ hostvars[controller]['ansible_default_ipv4']['address']  }}:2380{{ "," if not loop.last else "" }}{% endfor %} \
  --initial-cluster-state new 
Restart=on-failure
RestartSec=5

