kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: "/var/lib/kubernetes/ca.pem"
authorization:
  mode: Webhook
clusterDomain: "cluster.local"
clusterDNS:
  - "10.32.0.10"
{% set hostname = inventory_hostname.split("-") %}
podCIDR: "10.200.{{hostname[1]|replace('.kubernetes','')}}.0/24"
resolvConf: "/run/resolvconf/resolv.conf"
runtimeRequestTimeout: "15m"
tlsCertFile: "/var/lib/kubelet/{{inventory_hostname|replace('.kubernetes','')}}.pem"
tlsPrivateKeyFile: "/var/lib/kubelet/{{inventory_hostname|replace('.kubernetes','')}}-key.pem"
